@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GothamRounded';
  src: url('@/assets/fonts/gotham-rounded/GothamRounded-Book.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GothamRounded';
  src: url('@/assets/fonts/gotham-rounded/GothamRounded-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  input,
  textarea {
    @apply focus:outline-none;
  }
}

@layer components {
  .input {
    @apply rounded-xl border-2 border-solid border-gray-dark bg-gray-light p-2;
  }
}

.icon-gray-lighter {
  filter: saturate(100%) brightness(0) invert(98%) sepia(4%) saturate(305%)
    hue-rotate(283deg) brightness(113%) contrast(88%);
}

.icon-gray-dark {
  filter: saturate(100%) brightness(0) invert(100%) sepia(1%) saturate(3743%)
    hue-rotate(41deg) brightness(120%) contrast(63%);
}
