@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GothamRounded';
  src: url('@/assets/fonts/gotham-rounded/GothamRounded-Book.otf');
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .input {
    @apply rounded-xl border-2 border-gray-400 bg-gray-200 p-2;
  }
}
