@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GothamRounded';
  src: url('@/assets/fonts/gotham-rounded/GothamRounded-Light.otf');
  /* font-weight: 500;
  font-style: normal; */
}

@layer components {
  .input {
    @apply rounded-xl border-2 border-gray-400 bg-gray-200 p-2;
  }
}
